extends layout

block content
  h1 Mr Ben Wells
  p.lead Welcome to my admin interface
  hr
  .row
    .col-sm-6
      h2 Weather App
      p Search for and add as many locations as you want.  Save them for later!!  Select a location and view a 5 day forecast.
      p
        a.btn.btn-default(href='/weather', role='button') Go to App »
    .col-sm-6
      h2 Career Scraper
      p Keep up to date with new job offerings!  
      p
        a.btn.btn-default(href='/careers', role='button') View details »
