/* BEGIN WEATHER STYLES */
ul.react-autosuggest__suggestions {
  cursor: pointer;
  list-style: none;
}
ul.react-autosuggest__suggestions li{
  cursor: pointer;
  list-style: none;
}
/* END WEATHER STYLES */
